<!DOCTYPE html>

<html lang="">

<head>
<title>Smart_cashier</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
<div class="bgded overlay" style="background-image:url('../webprogramming/images/soongsil_logo.jpg');"> 
  <div class="wrapper row0">
    <header id="header" class="hoc clear center"> 
      <h1 id="logo"><a href="index.html">Smart_cashier</a></h1>
    </header>
  </div>
 
  <div class="wrapper row1">
    <nav id="mainav" class="hoc clear"> 
      <ul class="clear">
        <li><a class="drop" href="#">먹을 것</a>
          <ul>
            <li><a href="#">햇반</a></li>
            <li><a href="#">육개장</a></li>
            <li><a href="#">허브 솔트</a></li>
            <li><a href="#">땅콩 버터</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">의류</a>
          <ul>
            <li><a class="drop" href="#">모자</a>
              <ul>
                <li><a href="#">검은 모자</a></li>
                <li><a href="#">하얀 모자</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">기타</a>
              <ul>
                <li><a href="#">안경</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a class="drop" href="#">과자</a>
          <ul>
            <li><a href="#">도리토스</a></li>
            <li><a href="#">홈런볼</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">마실것</a>
          <ul>
            <li><a href="#">검은콩</a></li>
            <li><a href="#">마운틴듀</a></li>
            <li><a href="#">나랑드</a></li>
            <li><a href="#">펩시</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">성인</a>
          <ul>
            <li><a href="#">캔맥주</a></li>
            <li><a href="#">담배</a></li>
            <li><a href="#">라이터</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">기타</a>
          <ul>
            <li><a class="drop" href="#">인형</a>
              <ul>
                <li><a href="#">라이온</a></li>
              </ul>
            </li>
            <li><a href="#">노트</a></li>
            <li><a href="#">숟가락</a></li>
          </ul>
      </ul>
    </nav>
  </div>
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Smart_cashier</h3>
      <footer><a class="btn" href="../smart2.html" target="_blank">수동 계산하는 곳</a></footer>
    </article>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="posts">
      <figure class="group">
        <div><a class="imgover" href="#"><img src="../shiphile/doritos.jpeg" alt=""></a></div>
        <figcaption>
          <h6 class="heading">도리토스</h6>
          <p>도리토스 입니다.</p>
          <footer><a class="btn" href="#">1,500원</a></footer>
        </figcaption>
      </figure>
      <figure class="group">
        <div><a class="imgover" href="#"><img src="./blackcap.jpg" alt=""></a></div>
        <figcaption>
          <h6 class="heading">검은 모자</h6>
          <p>검은 모자 입니다.</p>
          <footer><a class="btn" href="#">12,000원</a></footer>
        </figcaption>
      </figure>
    </div>
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper bgded overlay" style="background-image:url('../webprogramming/images/soongsil_logo.jpg');">
  <section class="hoc container clear"> 
  </section>
</div>
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <ul class="nospace group team">
      <div>
        <h3 style="text-align: center;">참여자</h3>
      </div>
      <li class="one_quarter first">
        <figure><a class="imgover" href="#"><img src="../webprogramming/images/myimage.jpg" alt=""></a>
          <figcaption><strong class="heading"><p>김민준</p></strong> <p>20150123</p></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src="../webprogramming/images/myimage.jpg" alt=""></a>
          <figcaption><strong class="heading">이봉원</strong>201530123</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src="../webprogramming/images/myimage.jpg" alt=""></a>
          <figcaption>최성준<br>201502132</figcaption>
        </figure>
      </li>
    </ul>
  </section>
</div>
<div class="wrapper row3">
  <section class="hoc container clear"> 
  </section>
</div>
  </section>
</div>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Email : chltjdwns88@gmail.com Phone : 010-5667-6917<a href="#"></a></p>
    <p class="fl_right">Soongsil</p> <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates"></a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>